<article class="about">
  <h3>About</h3>
  BierDog is a just for fun project by Jo Surzyn. Thanks to the lovely people at
  <a href="https://www.brewdog.com/" target="_blank">Brewdog</a> for the awesome
  API, and for all the awesome beers.
  <div class="social-links">
    <a href="https://twitter.com/josurzyn" target="_blank"
      ><img
        src="../../assets/img/Twitter_Logo_Blue.png"
        alt="Come say hi on Twitter"
        class="twitter-link"
    /></a>
    <a href="https://github.com/josurzyn/" target="_blank"
      ><img
        src="../../assets/img/GitHub-Mark-64px.png"
        alt="See what I've been up to on GitHub"
        class="github-link"
    /></a>
  </div>
</article>
