<button mat-raised-button (click)="getRandom()">Surprise Me</button>

<button mat-raised-button (click)="handleBrowse()">Browse the catalogue</button>

<app-filters (updateParams)="onUpdateParams($event)"> </app-filters>

<ng-container *ngIf="(isGettingBiers$$ | async) === false; else loading">
  <section
    *ngIf="biers$ | async as biers"
    [class.bier-container]="biers.length > 1"
    [class.centre-container]="biers.length === 1"
  >
    <app-bier-detail *ngFor="let bier of biers" [detail]="bier">
    </app-bier-detail>
    <p *ngIf="biers.length === 0">
      Oops, we can't find any matching beers. Try adjusting the filters to find
      your perfect brew.
    </p>
  </section>
</ng-container>

<ng-template #loading>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
