<button mat-raised-button (click)="getRandom()">
  Surprise Me
</button>

<button mat-raised-button (click)="handleBrowse()">
  Browse the catalogue
</button>

<app-filters (updateParams)="onUpdateParams($event)"> </app-filters>

<div *ngIf="randomBier" class="centre-container">
  <h3>Why not try a...</h3>
  <app-bier-detail [detail]="randomBier"></app-bier-detail>
</div>

<div class="bier-container">
  <app-bier-detail *ngFor="let bier of apiBiers" [detail]="bier">
  </app-bier-detail>
</div>

<div *ngIf="noBiersFound">
  Oops, we can't find any matching beers. Try adjusting the filters to find your
  perfect brew.
</div>

<div class="centre-container">
  <mat-spinner *ngIf="isGettingBiers"></mat-spinner>
</div>
