<header>
  <div class="container">
    <div class="title">
      <h1>{{ title }}</h1>
      <h2>Find your next homebrew</h2>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/" data-cy="home-link"
            ><p class="link-text">Home</p></a
          >
        </li>
        <li>
          <a routerLink="/favourites" data-cy="favourites-link"
            ><p class="link-text">Favourites</p>
            <span data-cy="badge" class="badge">{{
              favouritesCount$ | async
            }}</span></a
          >
        </li>
        <li>
          <a routerLink="/about" data-cy="about-link"
            ><p class="link-text">About</p></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
