header {
    background-color: #242424;
    color: #fbfbfb;
    padding: 5px 10px;
    box-shadow: 0 0 7px #242424;
}
.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 950px;
    margin: auto;
    h1 {
        margin: 0;
    }
    h2 {
        margin: 0 0 10px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        li {
            margin: 10px;
            a {
                font-size: 1.3em;
                color: #fff;
            }
            a:hover {
                color: #c2c2c2;
            }
        }
    }
}